$orange: #f27225;

$gray_b: #8b91a4;
$gray_a: #dfe1e3;
$gray_c: #687089;
$gray_d: #f5f5f5;

$button-primary: $orange;
$button-primary-text: #fff;
$button-secondary: #fff;
$button-secondary-text: $orange;
$text-primary: $gray_b;
$input-border: $gray_a;
$table-row-background: $gray_d;
$table-text-color: $gray_c;
$input-color: $gray_c;
